@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');

.App {
  font-family: 'Lusitana', serif;
  padding-top: 1.5rem;
}

.article-card {
  text-align: center;
}

.article-title {
  height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.article-blurb {
  height: 6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.article-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}