@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');

html {
  scroll-behavior: smooth;
}

.App {
  font-family: 'Anuphan', sans-serif;
  padding-top: 1.5rem;
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: bold;
}

.footer {
  margin-top: auto;
}

.logo {
  font-weight: bold;
  letter-spacing: 1px;
}

.accordion {
  --bs-accordion-active-color: white !important;
  --bs-accordion-active-bg: #198754 !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* News & Articles */

.article-card {
  text-align: center;
}

.article-title {
  height: 4.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.article-preview {
  cursor: pointer;
}

.toggle-read-more {
  cursor: pointer;
}

.toggle-read-more:hover {
  color: #198754;
}

.article-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.featured-article-image {
  max-height: 700px;
  object-fit: scale-down;
}

/* News Filter */

.searchbar {
  padding-right: 40px;
}

.searchbar-icons {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer
}

/* Learn Section */

.video-background {
  position: relative;
  height: 75vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgba(0,0,0,0.5);
}

.video-overlay-body {
  width: 40%;
}

.learn-section {
  padding-top: 50px;
  margin-top: -50px;
}

#important-section {
  margin-top: 50px;
}

.definition {
  font-weight: bold;
  color: #198754;
}

.definition:hover {
  color: #198754;
  cursor: pointer;
}

.spotlight-img {
  max-height: 12rem;
  object-fit: scale-down;
}

.cons-img {
  max-height: 9rem;
}

.podcast-img {
  max-width: 100%;
}

.podcast-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.podcast-card-overlay:hover {
  background: rgba(0, 0, 0, 0.6);
}

.podcast-card-btn {
  width: 25%;
}

.learn-navigation {
  transition: all 0.5s;
  background-color: #198754;
}

.learn-navigation a {
  text-decoration: none;
  color: white;
  width: 100%;
}

.learn-navigation a:hover {
  font-weight: bold;
  color: white;
}

/* Stories Section */

.story-card-img {
  max-height: 200px;
  object-fit: cover;
}

.story-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.story-card-btn {
  width: 10%;
}

.story-main-content {
  position: sticky;
  top: 25vh; 
  margin: 25vh 0; 
  border: 2px dashed red;
  height: 50vh;
}

.story-side-content {
  margin: 25vh 0 50vh 0; 
  border: 2px dashed skyblue;
}

.story-step {
    margin: 50vh 0;
}